.container {
    width: 100%;
    background: rgb(41, 40, 40);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.innercontainer {
    width: 50%;
    background: #f0f1c2;
    height: 80%;
}

.nav {
    position: relative;
    top: 0px;
    background: #393838;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}

.nav h1 {
    font-size: 30px;
    color: white;
}

.navright {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.navright input {
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.navright .search-icon {
    color: #f7f1bd;
    font-size: 30px;
    position: relative;
    top: 3px;
}

.section {
    background: #7f7f7f;
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section h1 {
    margin-top: 10px;
    color: white;
}

.lastsection {
    /* background: #dd1c90; */
    color: white;
    width: 100%;
    height: 51%;
    display: flex;
    flex-direction: column;
}

.lastsection .box {
    width: 50%;
    background: rgb(156, 138, 138);
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lastsection .box p {
    font-size: 20px;
}

.lastp1 {
    width: 100%;
    height: 50%;
    /* background: white; */
    display: flex;
    justify-content: center;
}

.lastp2 {
    width: 100%;
    height: 50%;
    /* background: white; */
    display: flex;
    justify-content: center;
}
